spring:
  application:
    name: eureka-server
eureka:
  client:
    serviceUrl:
      defaultZone: http://user:123456@eureka2:8762/eureka/
  instance:
    hostname: eureka1

server:
  port: 8761

# 安全认证
#开启基于http basic的安全认证
security:
  basic:
    enabled: true
  user:
    password: 123456
    name: user