spring:
  application:
    name: eureka-server
eureka:
  client:
    serviceUrl:
      defaultZone: http://user:123456@eureka1:8761/eureka

  instance:
    hostname: eureka2

server:
  port: 8762
security:
  basic:
    enabled: true
  user:
    password: 123456
    name: user